// $main-color: #111B47;
// $sub-color: #505F98;
:root {
    --main-color: #111B47;
    --sub-color: #505F98;
    --body-bg: #ffffff;
    --title-color: #091133;
    --btn-hover: #505F98;
    --logo-color: #111B47;
    --logo-hover: #111B47;
    --btn-clear-color: #091133;
    --close-color: #111B47;
    --descr-color: #5D6970;
    --footer-color: #E7ECFF;
}