.btn {
    text-align: center;
    min-width: 160px;
    height: 26px;
    background: var(--main-color);
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    transition: all .3s;
    &:hover {
        background: var(--btn-hover);
    }
    &_clear {
        color: var(--btn-clear-color);
        background-color: unset;
        border: 2px solid #091133;
    }

    &_fz16 {
        font-size: 16px;
        line-height: 36px;
    }
    &_lg {
        padding: 0;
        min-width: 190px;
        height: 36px;
    }
    &_fz14 {
        font-size: 14px;
        line-height: 24px;
    }
    &_md {
        min-width: 150px;
        height: 32px;
    }
    &_sm {
        min-width: 109px;
        height: 26px;
    }
    &_fz12 {
        font-size: 12px;
        line-height: 26px;
    }
}
