.page {
    &__promo {
        padding-top: 300px;
    }
    &__main {
        padding-top: 220px;
    }
    &__cards {
        padding-top: 220px;
    }
    &__price {
        padding-top: 300px;
        padding-bottom: 172px;
    }
    &__foter {
        padding-top: 61px;
        padding-bottom: 60px;
    }
}